.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

body {
margin: 0;
}

.search-form {
    display: flex;
    gap: 10px;
    padding: 10px;
    background-color: darkslategrey;
    justify-content: center
}

.gallery {
    display: flex;
    gap: 10px;
    margin: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.photo-card {
    height: 260px;
    width: 300px;
}

.item{
    display: block;
    height: 80%;
    width: 100%;
}

.info {
    display: flex;
    gap: 10px;
    justify-content: space-between
}

.info-item {
    font-size: 14px;
    text-align: center;
}

.gallery__item {
    position: relative;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.gallery__image:hover {
    transform: scale(1.03);
}

a {
    text-decoration: none;
    color: black;
}

.box-btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.load-more{}


/* --------------------------- */
/* 
body {
    margin: 16px;
    line-height: 1.5;
    color: #212121;
    font-family: sans-serif;
}

p {
    margin: 0;
}

.posts {
    margin: 0;
    list-style: none;
    margin-bottom: 16px;
}

.posts li:not(:last-child) {
    margin-bottom: 16px;
}

.post-title {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 700;
}

.post-title:first-letter {
    text-transform: uppercase;
}

.post-body {
    margin: 0;
} */

/* .alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px;
    text-align: center;
    background-color: tomato;
    color: #fff;
    transform: translatey(-100%);
    transition: transform 250ms ease-in-out;
}

.alert.is-visible {
    transform: translatey(0);
} */